roda-migrator/roda-migrator-services/src/main/webapp/wsdl/Video2Flv.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.migrator.roda.dgarq.gov.pt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.migrator.roda.dgarq.gov.pt" xmlns:intf="http://services.migrator.roda.dgarq.gov.pt" xmlns:tns1="http://data.core.roda.dgarq.gov.pt" xmlns:tns2="http://data.common.migrator.roda.dgarq.gov.pt" xmlns:tns3="http://common.migrator.roda.dgarq.gov.pt" xmlns:tns4="http://common.core.roda.dgarq.gov.pt" xmlns:tns5="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.migrator.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://data.common.migrator.roda.dgarq.gov.pt"/>
   <import namespace="http://common.migrator.roda.dgarq.gov.pt"/>
   <element name="convert">
    <complexType>
     <sequence>
      <element name="in0" type="tns1:RepresentationObject"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_RepresentationFile">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:RepresentationFile"/>
    </sequence>
   </complexType>
   <element name="convertResponse">
    <complexType>
     <sequence>
      <element name="convertReturn" type="tns2:ConversionResult"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns3:RepresentationAlreadyConvertedException"/>
   <element name="fault1" type="tns3:InvalidRepresentationException"/>
   <element name="fault2" type="tns3:WrongRepresentationTypeException"/>
   <element name="fault3" type="tns3:WrongRepresentationSubtypeException"/>
   <element name="fault4" type="tns3:ConverterException"/>
   <element name="getAgent">
    <complexType/>
   </element>
   <element name="getAgentResponse">
    <complexType>
     <sequence>
      <element name="getAgentReturn" type="tns1:AgentPreservationObject"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.migrator.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://data.common.migrator.roda.dgarq.gov.pt"/>
   <import namespace="http://common.migrator.roda.dgarq.gov.pt"/>
   <complexType name="RODAObject">
    <sequence>
     <element name="contentModel" nillable="true" type="xsd:string"/>
     <element name="createdDate" nillable="true" type="xsd:dateTime"/>
     <element name="label" nillable="true" type="xsd:string"/>
     <element name="lastModifiedDate" nillable="true" type="xsd:dateTime"/>
     <element name="pid" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SimpleRepresentationObject">
    <complexContent>
     <extension base="tns1:RODAObject">
      <sequence>
       <element name="descriptionObjectPID" nillable="true" type="xsd:string"/>
       <element name="id" nillable="true" type="xsd:string"/>
       <element name="statuses" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="subType" nillable="true" type="xsd:string"/>
       <element name="type" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="FileFormat">
    <sequence>
     <element name="extensions" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="formatRegistryName" nillable="true" type="xsd:string"/>
     <element name="mimetype" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="puid" nillable="true" type="xsd:string"/>
     <element name="version" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RepresentationFile">
    <complexContent>
     <extension base="tns1:FileFormat">
      <sequence>
       <element name="accessURL" nillable="true" type="xsd:string"/>
       <element name="id" nillable="true" type="xsd:string"/>
       <element name="originalName" nillable="true" type="xsd:string"/>
       <element name="size" type="xsd:long"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RepresentationObject">
    <complexContent>
     <extension base="tns1:SimpleRepresentationObject">
      <sequence>
       <element name="partFiles" nillable="true" type="impl:ArrayOf_tns1_RepresentationFile"/>
       <element name="rootFile" nillable="true" type="tns1:RepresentationFile"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="PreservationObject">
    <complexContent>
     <extension base="tns1:RODAObject">
      <sequence>
       <element name="ID" nillable="true" type="xsd:string"/>
       <element name="type" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AgentPreservationObject">
    <complexContent>
     <extension base="tns1:PreservationObject">
      <sequence>
       <element name="agentName" nillable="true" type="xsd:string"/>
       <element name="agentType" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="SimpleEventPreservationObject">
    <complexContent>
     <extension base="tns1:PreservationObject">
      <sequence>
       <element name="agentPID" nillable="true" type="xsd:string"/>
       <element name="targetPID" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="EventPreservationObject">
    <complexContent>
     <extension base="tns1:SimpleEventPreservationObject">
      <sequence>
       <element name="agentID" nillable="true" type="xsd:string"/>
       <element name="agentRole" nillable="true" type="xsd:string"/>
       <element name="datetime" nillable="true" type="xsd:dateTime"/>
       <element name="eventDetail" nillable="true" type="xsd:string"/>
       <element name="eventType" nillable="true" type="xsd:string"/>
       <element name="objectIDs" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="outcome" nillable="true" type="xsd:string"/>
       <element name="outcomeDetailExtension" nillable="true" type="xsd:string"/>
       <element name="outcomeDetailNote" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.common.migrator.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.migrator.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.migrator.roda.dgarq.gov.pt"/>
   <complexType name="ConversionResult">
    <sequence>
     <element name="migrationAgent" nillable="true" type="tns1:AgentPreservationObject"/>
     <element name="migrationEvent" nillable="true" type="tns1:EventPreservationObject"/>
     <element name="representation" nillable="true" type="tns1:RepresentationObject"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.migrator.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://data.common.migrator.roda.dgarq.gov.pt"/>
   <import namespace="http://common.migrator.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="RODAException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RODAServiceException">
    <complexContent>
     <extension base="tns4:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.migrator.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.migrator.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://data.common.migrator.roda.dgarq.gov.pt"/>
   <complexType name="ConverterException">
    <complexContent>
     <extension base="tns4:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RepresentationAlreadyConvertedException">
    <complexContent>
     <extension base="tns3:ConverterException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidRepresentationException">
    <complexContent>
     <extension base="tns3:ConverterException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WrongRepresentationTypeException">
    <complexContent>
     <extension base="tns3:InvalidRepresentationException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WrongRepresentationSubtypeException">
    <complexContent>
     <extension base="tns3:InvalidRepresentationException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.migrator.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://data.common.migrator.roda.dgarq.gov.pt"/>
   <import namespace="http://common.migrator.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="FilterParameter">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SimpleFilterParameter">
    <complexContent>
     <extension base="tns5:FilterParameter">
      <sequence>
       <element name="value" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="OneOfManyFilterParameter">
    <complexContent>
     <extension base="tns5:FilterParameter">
      <sequence>
       <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RangeFilterParameter">
    <complexContent>
     <extension base="tns5:FilterParameter">
      <sequence>
       <element name="fromValue" nillable="true" type="xsd:string"/>
       <element name="toValue" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RegexFilterParameter">
    <complexContent>
     <extension base="tns5:FilterParameter">
      <sequence>
       <element name="regex" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertResponse">

      <wsdl:part element="impl:convertResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WrongRepresentationTypeException">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="InvalidRepresentationException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getAgentRequest">

      <wsdl:part element="impl:getAgent" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WrongRepresentationSubtypeException">

      <wsdl:part element="impl:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getAgentResponse">

      <wsdl:part element="impl:getAgentResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="RepresentationAlreadyConvertedException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="ConverterException">

      <wsdl:part element="impl:fault4" name="fault"/>

   </wsdl:message>

   <wsdl:message name="convertRequest">

      <wsdl:part element="impl:convert" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="SynchronousConverter">

      <wsdl:operation name="convert">

         <wsdl:input message="impl:convertRequest" name="convertRequest"/>

         <wsdl:output message="impl:convertResponse" name="convertResponse"/>

         <wsdl:fault message="impl:RepresentationAlreadyConvertedException" name="RepresentationAlreadyConvertedException"/>

         <wsdl:fault message="impl:ConverterException" name="ConverterException"/>

         <wsdl:fault message="impl:WrongRepresentationSubtypeException" name="WrongRepresentationSubtypeException"/>

         <wsdl:fault message="impl:WrongRepresentationTypeException" name="WrongRepresentationTypeException"/>

         <wsdl:fault message="impl:InvalidRepresentationException" name="InvalidRepresentationException"/>

      </wsdl:operation>

      <wsdl:operation name="getAgent">

         <wsdl:input message="impl:getAgentRequest" name="getAgentRequest"/>

         <wsdl:output message="impl:getAgentResponse" name="getAgentResponse"/>

         <wsdl:fault message="impl:ConverterException" name="ConverterException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SynchronousConverterSoapBinding" type="impl:SynchronousConverter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RepresentationAlreadyConvertedException">

            <wsdlsoap:fault name="RepresentationAlreadyConvertedException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ConverterException">

            <wsdlsoap:fault name="ConverterException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WrongRepresentationSubtypeException">

            <wsdlsoap:fault name="WrongRepresentationSubtypeException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WrongRepresentationTypeException">

            <wsdlsoap:fault name="WrongRepresentationTypeException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidRepresentationException">

            <wsdlsoap:fault name="InvalidRepresentationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAgent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAgentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAgentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ConverterException">

            <wsdlsoap:fault name="ConverterException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Video2FlvService">

      <wsdl:port binding="impl:SynchronousConverterSoapBinding" name="Video2Flv">

         <wsdlsoap:address location="http://localhost:8080/roda-migrator/services/SynchronousConverter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
