roda-core/roda-plugins/misc/ExecutePlanPlugin/src/test/resources/plato-V4.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Plato: Planning Tool
 developed within the EU IST FP6 project PLANETS: Preservation and Long-term Access through Networked Services,
 Contract number 033789, June 2006-May 2009.
 Subproject: PP - Preservation Planning
 Workpackage: PP4 - Preservation Plan Decision Support
 Responsible partner:  TUWIEN - Vienna University of Technology, Department of Software Technology  and Interactive Systems
 Further information:
 www.planets-project.eu
 www.ifs.tuwien.ac.at/dp 
 
 Changes in V4.0.0:
 
 - evaluationScopeType  optional " minOccurs="0"
 
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ifs.tuwien.ac.at/dp/plato" targetNamespace="http://ifs.tuwien.ac.at/dp/plato" elementFormDefault="qualified" version="4.0.0">
	<xs:include schemaLocation="preservationActionPlan-V1.xsd"/>
	<xs:element name="plans" type="Plans"/>
	<xs:complexType name="Plans">
		<xs:sequence>
			<xs:sequence>
				<xs:element name="plan" type="planType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="planType">
		<xs:all>
			<xs:element name="changelog" type="changeLogType"/>
			<xs:element name="properties" type="projectPropertiesType"/>
			<xs:element name="basis" type="projectBasisType"/>
			<xs:element name="sampleRecords" type="sampleObjectDefinitionType"/>
			<xs:element name="requirementsDefinition" type="requirementsDefinitionType" minOccurs="0"/>
			<xs:element name="alternatives" type="alternativesDefinitionType"/>
			<xs:element name="decision" type="decisionType" minOccurs="0"/>
			<xs:element name="evaluation" type="evaluationStepType" minOccurs="0"/>
			<xs:element name="importanceWeighting" type="importanceWeightingType" minOccurs="0"/>
			<xs:element name="recommendation" type="recommendationType" minOccurs="0"/>
			<xs:element name="transformation" type="transformationType" minOccurs="0"/>
			<xs:element name="tree" type="objectiveTreeType"/>
			<xs:element name="executablePlan" type="executablePlanDefinitionType" minOccurs="0"/>
			<xs:element name="preservationActionPlan" type="PreservationActionPlan" minOccurs="0"/>
			<xs:element name="planDefinition" type="planDefinitionType" minOccurs="0"/>
		</xs:all>
		<xs:attribute name="version" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="alternativeType">
		<xs:all>
			<xs:element name="description" type="maxLengthStringMandatory"/>
			<xs:element name="action" type="preservationActionDefinitionType" minOccurs="0"/>
			<xs:element name="resourceDescription" type="resourceDescriptionType"/>
			<xs:element name="experiment" type="experimentType"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
		<xs:attribute name="discarded" type="xs:boolean"/>
		<xs:attribute name="name">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="preservationActionDefinitionType">
		<xs:all>
			<xs:element name="params">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="param" type="parameterType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="parameterInfo" type="maxLengthString" minOccurs="0"/>
			<xs:element name="descriptor" type="maxLengthString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
		<xs:attribute name="info" type="xs:string"/>
		<xs:attribute name="actionIdentifier" type="xs:string" use="required"/>
		<xs:attribute name="shortname" type="xs:string" use="required"/>
		<xs:attribute name="targetFormat" type="xs:string"/>
		<xs:attribute name="url" type="xs:string"/>
		<xs:attribute name="executable" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="parameterType">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="experimentType">
		<xs:all>
			<xs:element name="description" type="hugeString" minOccurs="0"/>
			<xs:element name="settings" type="maxLengthString" minOccurs="0"/>
			<xs:element name="results" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="result" type="experimentResultType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="detailedInfos" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="detailedInfo" type="detailedExperimentInfoType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="evaluationType">
		<xs:annotation>
			<xs:documentation>evaluation results of a leaf: for each alternative a list of result-values, one per sample-record. all result-values are of the same type, specified by the scale-type of the leaf</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="alternative" type="evaluatedAlternativeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ordinalTransformerType">
		<xs:all>
			<xs:element name="mappings" type="mappingsType"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="mappingsType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="mapping" type="mappingType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mappingType">
		<xs:attribute name="ordinal" type="xs:string" use="required"/>
		<xs:attribute name="target" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:minInclusive value="0.0"/>
					<xs:maxInclusive value="5.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="numericTransformerType">
		<xs:all>
			<xs:element name="mode" type="modeType"/>
			<xs:element name="thresholds" type="thresholdsType"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="thresholdType">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:complexType name="oldThresholdType">
		<xs:attribute name="value" type="xs:decimal" use="required"/>
		<xs:attribute name="target" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="thresholdsType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="threshold1" type="thresholdType"/>
				<xs:element name="threshold2" type="thresholdType"/>
				<xs:element name="threshold3" type="thresholdType"/>
				<xs:element name="threshold4" type="thresholdType"/>
				<xs:element name="threshold5" type="thresholdType"/>
			</xs:sequence>
			<xs:element name="threshold" type="oldThresholdType" minOccurs="5" maxOccurs="5"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="modeType">
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="LINEAR"/>
					<xs:enumeration value="THRESHOLD_STEPPING"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="resourceDescriptionType">
		<xs:all>
			<xs:element name="necessaryResources" type="maxLengthString" minOccurs="0"/>
			<xs:element name="configSettings" type="maxLengthString" minOccurs="0"/>
			<xs:element name="reasonForConsidering" type="maxLengthString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="evaluatedAlternativeType">
		<xs:sequence>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>one result-value per sample-record</xs:documentation>
				</xs:annotation>
				<xs:element name="ordinalResult" type="ordinalResultType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="booleanResult" type="booleanResultType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="yanResult" type="yanResultType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="floatResult" type="floatResultType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="positiveFloatResult" type="positiveFloatResultType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="floatRangeResult" type="floatResultType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="intRangeResult" type="integerResultType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="integerResult" type="integerResultType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="positiveIntegerResult" type="positiveIntegerResultType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="key" type="xs:string">
			<xs:annotation>
				<xs:documentation>key is the name of the alternative</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="leafType">
		<xs:complexContent>
			<xs:extension base="treeNodeType">
				<xs:sequence>
					<xs:element name="aggregationMode" type="aggregationModeType" minOccurs="0"/>
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation>each leaf defines a property of a certain type</xs:documentation>
						</xs:annotation>
						<xs:choice>
							<xs:element name="ordinalScale" type="ordinalScaleType"/>
							<xs:element name="yanScale" type="yanScaleType"/>
							<xs:element name="booleanScale" type="booleanScaleType"/>
							<xs:element name="intRangeScale" type="intRangeScaleType"/>
							<xs:element name="floatRangeScale" type="floatRangeScaleType"/>
							<xs:element name="positiveFloatScale" type="positiveFloatScaleType"/>
							<xs:element name="floatScale" type="floatScaleType"/>
							<xs:element name="integerScale" type="integerScaleType"/>
							<xs:element name="positiveIntegerScale" type="positiveIntegerScaleType"/>
							<xs:element name="freeStringScale" type="freeStringScaleType"/>
						</xs:choice>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation>transformer corresponding to the scale-type of this leaf</xs:documentation>
						</xs:annotation>
						<xs:choice>
							<xs:element name="ordinalTransformer" type="ordinalTransformerType"/>
							<xs:element name="numericTransformer" type="numericTransformerType"/>
						</xs:choice>
					</xs:sequence>
					<xs:element name="criterion" type="criterionType" minOccurs="0"/>
					<xs:element name="evaluation" type="evaluationType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="treeNodeType">
		<xs:sequence>
			<xs:element name="description" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="name" type="maxLengthStringMandatory"/>
		<xs:attribute name="weight" type="xs:double" use="required"/>
		<xs:attribute name="single" type="xs:boolean" use="optional"/>
		<xs:attribute name="lock" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:complexType name="nodeType">
		<xs:complexContent>
			<xs:extension base="treeNodeType">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="leaf" type="leafType"/>
					<xs:element name="node" type="nodeType"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="changeLogType">
		<xs:attribute name="created" type="xs:dateTime" use="required"/>
		<xs:attribute name="createdBy" type="xs:string"/>
		<xs:attribute name="changed" type="xs:dateTime" use="required"/>
		<xs:attribute name="changedBy" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="projectPropertiesType">
		<xs:all>
			<xs:element name="state" type="planStateType"/>
			<xs:element name="report" type="digitalObjectType" minOccurs="0"/>
			<xs:element name="description" type="maxLengthString"/>
			<xs:element name="owner" type="maxLengthString"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
		<xs:attribute name="author" type="nonEmptyString" use="required"/>
		<xs:attribute name="organization" type="nonEmptyString" use="required"/>
		<xs:attribute name="name" type="nonEmptyString" use="required"/>
		<xs:attribute name="privateProject" type="xs:boolean"/>
		<xs:attribute name="reportPublic" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="projectBasisType">
		<xs:all>
			<xs:element name="documentTypes" type="maxLengthString" minOccurs="0"/>
			<xs:element name="applyingPolicies" type="maxLengthString" minOccurs="0"/>
			<xs:element name="applyingPoliciesUpload" type="digitalObjectType" minOccurs="0"/>
			<xs:element name="designatedCommunity" type="maxLengthString" minOccurs="0"/>
			<xs:element name="designatedCommunityUpload" type="digitalObjectType" minOccurs="0"/>
			<xs:element name="mandate" type="maxLengthString" minOccurs="0"/>
			<xs:element name="mandateUpload" type="digitalObjectType" minOccurs="0"/>
			<xs:element name="organisationalProcedures" type="maxLengthString" minOccurs="0"/>
			<xs:element name="planningPurpose" type="maxLengthString" minOccurs="0"/>
			<xs:element name="planRelations" type="maxLengthString" minOccurs="0"/>
			<xs:element name="preservationRights" type="maxLengthString" minOccurs="0"/>
			<xs:element name="referenceToAgreements" type="maxLengthString" minOccurs="0"/>
			<xs:element name="triggers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="trigger" type="triggerType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="policyTree" type="policyTreeType" minOccurs="0"/>
			<xs:element name="numberOfObjects" type="xs:string" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
		<xs:attribute name="identificationCode" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="sampleObjectDefinitionType">
		<xs:sequence>
			<xs:element name="samplesDescription" type="maxLengthString" minOccurs="0"/>
			<xs:element name="collectionProfile" type="collectionProfileType" minOccurs="0"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="record" type="sampleObjectType"/>
			</xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="alternativesDefinitionType">
		<xs:sequence>
			<xs:element name="description" type="maxLengthString" minOccurs="0"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="alternative" type="alternativeType"/>
			</xs:sequence>
			<xs:element name="changelog" type="changeLogType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="decisionType">
		<xs:all>
			<xs:element name="goDecision">
				<xs:complexType>
					<xs:attribute name="value" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="reason" type="maxLengthStringMandatory" minOccurs="0"/>
			<xs:element name="actionNeeded" type="maxLengthStringMandatory" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="evaluationStepType">
		<xs:all>
			<xs:element name="comment" type="maxLengthString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="objectiveTreeType">
		<xs:sequence>
			<xs:element name="node" type="nodeType"/>
		</xs:sequence>
		<xs:attribute name="weightsInitialized" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="byteStreamType">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="hasData" type="xs:boolean"/>
				<xs:attribute name="encoding" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="jhoveDescriptionType">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="encoding" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="fitsDescriptionType">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="encoding" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="digitalObjectType">
		<xs:sequence>
			<xs:element name="data" type="byteStreamType" minOccurs="0"/>
			<xs:element name="xcdlDescription" type="digitalObjectType" minOccurs="0"/>
			<xs:element name="jhoveXML" type="jhoveDescriptionType" minOccurs="0"/>
			<xs:element name="fitsXML" type="fitsDescriptionType" minOccurs="0"/>
			<xs:element name="formatInfo" type="formatInfoType" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="fullname" type="xs:string"/>
		<xs:attribute name="contentType" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="sampleObjectType">
		<xs:complexContent>
			<xs:extension base="digitalObjectType">
				<xs:sequence>
					<xs:element name="description" type="longString" minOccurs="0"/>
					<xs:element name="originalTechnicalEnvironment" type="longString" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="shortName" type="nonEmptyString" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="transformationType">
		<xs:all>
			<xs:element name="comment" type="maxLengthString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="importanceWeightingType">
		<xs:all>
			<xs:element name="comment" type="maxLengthString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="collectionProfileType">
		<xs:all>
			<xs:element name="collectionID" type="maxLengthString" minOccurs="0"/>
			<xs:element name="description" type="maxLengthString" minOccurs="0"/>
			<xs:element name="expectedGrowthRate" type="maxLengthString" minOccurs="0"/>
			<xs:element name="numberOfObjects" type="maxLengthString" minOccurs="0"/>
			<xs:element name="typeOfObjects" type="maxLengthString" minOccurs="0"/>
			<xs:element name="retentionPeriod" type="maxLengthString" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="experimentResultType">
		<xs:complexContent>
			<xs:extension base="digitalObjectType">
				<xs:attribute name="key" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cprType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="key" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="formatInfoType">
		<xs:all>
			<xs:element name="changelog" type="changeLogType" minOccurs="0"/>
		</xs:all>
		<xs:attribute name="defaultExtension" type="xs:string"/>
		<xs:attribute name="mimeType" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="puid" type="xs:string"/>
		<xs:attribute name="version" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="planStateType">
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="19"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="recommendationType">
		<xs:all>
			<xs:element name="reasoning" type="maxLengthString" minOccurs="0"/>
			<xs:element name="effects" type="maxLengthString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType" minOccurs="0"/>
		</xs:all>
		<xs:attribute name="alternativeName" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="requirementsDefinitionType">
		<xs:all>
			<xs:element name="description" type="maxLengthString" minOccurs="0"/>
			<xs:element name="uploads" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="upload" type="digitalObjectType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="policyTreeType">
		<xs:sequence>
			<xs:element name="policyNode" type="policyNodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="policyNodeType">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="policy" type="policyType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="policyNode" type="policyNodeType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="policyType">
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="executablePlanDefinitionType">
		<xs:sequence>
			<xs:element name="eprintsPlan" type="eprintsPlanType" minOccurs="0"/>
			<xs:element name="objectPath" type="maxLengthString" minOccurs="0"/>
			<xs:element name="toolParameters" type="maxLengthString" minOccurs="0"/>
			<xs:element name="triggersConditions" type="maxLengthString" minOccurs="0"/>
			<xs:element name="validateQA" type="maxLengthString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eprintsPlanType">
		<xs:sequence>
			<xs:element name="tool">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="toolIdentifier">
							<xs:complexType>
								<xs:attribute name="uri" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="parameters">
							<xs:complexType>
								<xs:attribute name="toolParameters" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="targetFormat" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="planDefinitionType">
		<xs:sequence>
			<xs:element name="costsIG" type="xs:string" minOccurs="0"/>
			<xs:element name="costsPA" type="xs:string" minOccurs="0"/>
			<xs:element name="costsPE" type="xs:string" minOccurs="0"/>
			<xs:element name="costsQA" type="xs:string" minOccurs="0"/>
			<xs:element name="costsREI" type="xs:string" minOccurs="0"/>
			<xs:element name="costsRemarks" type="xs:string" minOccurs="0"/>
			<xs:element name="costsRM" type="xs:string" minOccurs="0"/>
			<xs:element name="costsTCO" type="xs:string" minOccurs="0"/>
			<xs:element name="responsibleExecution" type="xs:string" minOccurs="0"/>
			<xs:element name="responsibleMonitoring" type="xs:string" minOccurs="0"/>
			<xs:element name="triggers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="trigger" type="triggerType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="currency" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="triggerType">
		<xs:annotation>
			<xs:documentation>
           To ease transformation of trigger format from V1.9 to 2.0 this is done by the importer, not per xslt. 
           Therefore this schema has to accept the old format too.
        </xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>Belongs to the trigger format of V1.9, will be replaced by according xslt</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Belongs to the trigger format of V1.9, will be replaced by according xslt</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="active" type="xs:boolean" use="optional"/>
		<xs:attribute name="type" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="NEW_COLLECTION"/>
					<xs:enumeration value="PERIODIC_REVIEW"/>
					<xs:enumeration value="CHANGED_ENVIRONMENT"/>
					<xs:enumeration value="CHANGED_OBJECTIVE"/>
					<xs:enumeration value="CHANGED_COLLECTION_PROFILE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="description" type="maxLengthString"/>
	</xs:complexType>
	<xs:complexType name="aggregationModeType">
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="WORST"/>
					<xs:enumeration value="AVERAGE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="detailedExperimentInfoType">
		<xs:sequence>
			<xs:element name="programOutput" type="hugeString" minOccurs="0"/>
			<xs:element name="cpr" type="hugeString" minOccurs="0"/>
			<xs:element name="measurements">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="measurement" type="measurementType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="key" type="xs:string"/>
		<xs:attribute name="successful" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="measurementType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ordinalValue" type="ordinalValueType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="booleanValue" type="booleanValueType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="yanValue" type="yanValueType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="floatValue" type="floatValueType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="positiveFloatValue" type="positiveFloatValueType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="floatRangeValue" type="floatValueType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="intRangeValue" type="integerValueType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="integerValue" type="integerValueType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="positiveIntegerValue" type="positiveIntegerValueType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="freeStringValue" type="freeStringValueType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="property" type="measureablePropertyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="measureablePropertyType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ordinalScale" type="ordinalScaleType"/>
				<xs:element name="yanScale" type="yanScaleType"/>
				<xs:element name="booleanScale" type="booleanScaleType"/>
				<xs:element name="intRangeScale" type="intRangeScaleType"/>
				<xs:element name="floatRangeScale" type="floatRangeScaleType"/>
				<xs:element name="positiveFloatScale" type="positiveFloatScaleType"/>
				<xs:element name="floatScale" type="floatScaleType"/>
				<xs:element name="integerScale" type="integerScaleType"/>
				<xs:element name="positiveIntegerScale" type="positiveIntegerScaleType"/>
				<xs:element name="freeStringScale" type="freeStringScaleType"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="criterionType">
		<xs:sequence>
			<xs:element name="property" type="measurablePropertyType" minOccurs="0"/>
			<xs:element name="metric" type="metricType" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:anyURI" use="required"/>
	</xs:complexType>
	<xs:complexType name="measurablePropertyType">
		<xs:sequence>
			<xs:element name="category" type="xs:string"/>
			<xs:element name="propertyId" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="description" type="maxLengthString" minOccurs="0"/>
			<xs:element name="evaluationScope" type="evaluationScopeType" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:choice>
					<xs:element name="ordinalScale" type="ordinalScaleType"/>
					<xs:element name="yanScale" type="yanScaleType"/>
					<xs:element name="booleanScale" type="booleanScaleType"/>
					<xs:element name="intRangeScale" type="intRangeScaleType"/>
					<xs:element name="floatRangeScale" type="floatRangeScaleType"/>
					<xs:element name="positiveFloatScale" type="positiveFloatScaleType"/>
					<xs:element name="floatScale" type="floatScaleType"/>
					<xs:element name="integerScale" type="integerScaleType"/>
					<xs:element name="positiveIntegerScale" type="positiveIntegerScaleType"/>
					<xs:element name="freeStringScale" type="freeStringScaleType"/>
				</xs:choice>
			</xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="metricType">
		<xs:sequence>
			<xs:element name="metricId" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="description" type="maxLengthString"/>
			<xs:sequence>
				<xs:choice>
					<xs:element name="ordinalScale" type="ordinalScaleType"/>
					<xs:element name="yanScale" type="yanScaleType"/>
					<xs:element name="booleanScale" type="booleanScaleType"/>
					<xs:element name="intRangeScale" type="intRangeScaleType"/>
					<xs:element name="floatRangeScale" type="floatRangeScaleType"/>
					<xs:element name="positiveFloatScale" type="positiveFloatScaleType"/>
					<xs:element name="floatScale" type="floatScaleType"/>
					<xs:element name="integerScale" type="integerScaleType"/>
					<xs:element name="positiveIntegerScale" type="positiveIntegerScaleType"/>
					<xs:element name="freeStringScale" type="freeStringScaleType"/>
				</xs:choice>
			</xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- scale definitions -->
	<xs:complexType name="ordinalScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="optional"/>
		<xs:attribute name="displayName" type="xs:string" use="optional"/>
		<xs:attribute name="restriction" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[^/]*(/([^/]*))*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="booleanScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="maxLengthString" use="optional"/>
		<xs:attribute name="displayName" type="xs:string" use="optional"/>
		<xs:attribute name="restriction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Yes/No"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="yanScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="optional"/>
		<xs:attribute name="displayName" type="xs:string" use="optional"/>
		<xs:attribute name="restriction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Yes/Acceptable/No"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="positiveFloatScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="optional"/>
		<xs:attribute name="displayName" type="xs:string" use="optional"/>
		<xs:attribute name="restriction" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="((\+)?[0-9]*(\.)?[0-9]*)?"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="floatScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="optional"/>
		<xs:attribute name="displayName" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="positiveIntegerScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="optional"/>
		<xs:attribute name="restriction" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="((\+)?[0-9]*)?"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="displayName" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="integerScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="optional"/>
		<xs:attribute name="displayName" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="intRangeScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="optional"/>
		<xs:attribute name="displayName" type="xs:string" use="optional"/>
		<xs:attribute name="restriction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[^/]*(/([^/]*))*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="floatRangeScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="optional"/>
		<xs:attribute name="displayName" type="xs:string" use="optional"/>
		<xs:attribute name="restriction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[^/]*(/([^/]*))*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="freeStringScaleType">
		<xs:sequence>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
		<xs:attribute name="unit" type="xs:string" use="optional"/>
		<xs:attribute name="displayName" type="xs:string" use="optional"/>
	</xs:complexType>
	<!-- measurements type definitions -->
	<xs:complexType name="booleanValueType">
		<xs:sequence>
			<xs:element name="value">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yanValueType">
		<xs:sequence>
			<xs:element name="value">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="Acceptable"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ordinalValueType">
		<xs:sequence>
			<xs:element name="value" type="xs:string"/>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="positiveFloatValueType">
		<xs:sequence>
			<xs:element name="value" type="xs:string"/>
			<!--			
			<xs:element name="value">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
-->
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="floatValueType">
		<xs:sequence>
			<xs:element name="value" type="xs:string"/>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="positiveIntegerValueType">
		<xs:sequence>
			<xs:element name="value">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="integerValueType">
		<xs:sequence>
			<xs:element name="value" type="xs:integer"/>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="intRangeValueType">
		<xs:sequence>
			<xs:element name="value" type="xs:integer"/>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="freeStringValueType">
		<xs:sequence>
			<xs:element name="value" type="hugeString"/>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- result type definitions -->
	<xs:complexType name="resultType" abstract="true">
		<xs:sequence>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="booleanResultType">
		<xs:sequence>
			<xs:element name="value" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yanResultType">
		<xs:sequence>
			<xs:element name="value" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Yes"/>
						<xs:enumeration value="Acceptable"/>
						<xs:enumeration value="No"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ordinalResultType">
		<xs:sequence>
			<xs:element name="value" type="xs:string" minOccurs="0"/>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="positiveFloatResultType">
		<xs:sequence>
			<xs:element name="value" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="floatResultType">
		<xs:sequence>
			<xs:element name="value" type="xs:double"/>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="positiveIntegerResultType">
		<xs:sequence>
			<xs:element name="value" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="integerResultType">
		<xs:sequence>
			<xs:element name="value" type="xs:integer"/>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="intRangeResultType">
		<xs:sequence>
			<xs:element name="value" type="hugeString"/>
			<xs:element name="comment" type="hugeString" minOccurs="0"/>
			<xs:element name="changelog" type="changeLogType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="evaluationScopeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALTERNATIVE"/>
			<xs:enumeration value="OUTCOME"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- basic types -->
	<xs:simpleType name="longString">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="maxLengthString">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32672"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="hugeString">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="maxLengthStringMandatory">
		<xs:restriction base="maxLengthString">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
