roda-core/roda-core-tests/src/main/resources/corpora/aip/EARK2S/schemas/DILCISExtensionSIPMETS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://DILCIS.eu/XML/METS/SIPExtensionMETS"
    targetNamespace="https://DILCIS.eu/XML/METS/SIPExtensionMETS" elementFormDefault="qualified">
    <xs:attribute name="FILEFORMATNAME" type="xs:string"/>
    <xs:attribute name="FILEFORMATVERSION" type="xs:string"/>
    <xs:attribute name="FORMATREGISTRY" type="xs:string"/>
    <xs:attribute name="FORMATREGISTRYKEY" type="xs:string"/>
</xs:schema>
