roda-core/roda-core-services/src/main/webapp/wsdl/AcceptSIP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.core.roda.dgarq.gov.pt" xmlns:intf="http://services.core.roda.dgarq.gov.pt" xmlns:tns1="http://data.core.roda.dgarq.gov.pt" xmlns:tns2="http://common.core.roda.dgarq.gov.pt" xmlns:tns3="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <element name="acceptSIP">
    <complexType>
     <sequence>
      <element name="sipID" type="xsd:string"/>
      <element name="accept" type="xsd:boolean"/>
      <element name="reason" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="acceptSIPResponse">
    <complexType>
     <sequence>
      <element name="acceptSIPReturn" type="tns1:SIPState"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_SIPStateTransition">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:SIPStateTransition"/>
    </sequence>
   </complexType>
   <element name="fault" type="tns2:NoSuchSIPException"/>
   <element name="fault1" type="tns2:IllegalOperationException"/>
   <element name="fault2" type="tns2:AcceptSIPException"/>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="SIPStateTransition">
    <sequence>
     <element name="datetime" nillable="true" type="xsd:dateTime"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="fromState" nillable="true" type="xsd:string"/>
     <element name="sipID" nillable="true" type="xsd:string"/>
     <element name="success" type="xsd:boolean"/>
     <element name="taskID" nillable="true" type="xsd:string"/>
     <element name="toState" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SIPState">
    <sequence>
     <element name="complete" type="xsd:boolean"/>
     <element name="completePercentage" type="xsd:float"/>
     <element name="datetime" nillable="true" type="xsd:dateTime"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="ingestedPID" nillable="true" type="xsd:string"/>
     <element name="originalFilename" nillable="true" type="xsd:string"/>
     <element name="parentPID" nillable="true" type="xsd:string"/>
     <element name="processing" type="xsd:boolean"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="stateTransitions" nillable="true" type="impl:ArrayOf_tns1_SIPStateTransition"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="RODAException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RODAServiceException">
    <complexContent>
     <extension base="tns2:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="EditorException">
    <complexContent>
     <extension base="tns2:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="IngestException">
    <complexContent>
     <extension base="tns2:EditorException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoSuchSIPException">
    <complexContent>
     <extension base="tns2:IngestException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="IllegalOperationException">
    <complexContent>
     <extension base="tns2:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AcceptSIPException">
    <complexContent>
     <extension base="tns2:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="FilterParameter">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SimpleFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="value" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="OneOfManyFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RangeFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="fromValue" nillable="true" type="xsd:string"/>
       <element name="toValue" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RegexFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="regex" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProducerFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="username" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LikeFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="expression" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ClassificationSchemeFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="classificationSchemeId" nillable="true" type="xsd:string"/>
       <element name="possibleClassesPids" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="NoSuchSIPException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="AcceptSIPException">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="IllegalOperationException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="acceptSIPResponse">

      <wsdl:part element="impl:acceptSIPResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="acceptSIPRequest">

      <wsdl:part element="impl:acceptSIP" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="AcceptSIP">

      <wsdl:operation name="acceptSIP">

         <wsdl:input message="impl:acceptSIPRequest" name="acceptSIPRequest"/>

         <wsdl:output message="impl:acceptSIPResponse" name="acceptSIPResponse"/>

         <wsdl:fault message="impl:NoSuchSIPException" name="NoSuchSIPException"/>

         <wsdl:fault message="impl:AcceptSIPException" name="AcceptSIPException"/>

         <wsdl:fault message="impl:IllegalOperationException" name="IllegalOperationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AcceptSIPSoapBinding" type="impl:AcceptSIP">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="acceptSIP">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="acceptSIPRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="acceptSIPResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NoSuchSIPException">

            <wsdlsoap:fault name="NoSuchSIPException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="AcceptSIPException">

            <wsdlsoap:fault name="AcceptSIPException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="IllegalOperationException">

            <wsdlsoap:fault name="IllegalOperationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AcceptSIPService">

      <wsdl:port binding="impl:AcceptSIPSoapBinding" name="AcceptSIP">

         <wsdlsoap:address location="http://localhost:8080/roda-core/services/AcceptSIP"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
