roda-core/roda-core-services/src/main/webapp/wsdl/IngestMonitor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.core.roda.dgarq.gov.pt" xmlns:intf="http://services.core.roda.dgarq.gov.pt" xmlns:tns1="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns2="http://common.core.roda.dgarq.gov.pt" xmlns:tns3="http://adapter.data.core.roda.dgarq.gov.pt" xmlns:tns4="http://sort.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns5="http://sublist.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns6="http://data.core.roda.dgarq.gov.pt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <element name="getPossibleStates">
    <complexType/>
   </element>
   <element name="getPossibleStatesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getPossibleStatesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSIPsCount">
    <complexType>
     <sequence>
      <element name="filter" type="tns1:Filter"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_FilterParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:FilterParameter"/>
    </sequence>
   </complexType>
   <element name="getSIPsCountResponse">
    <complexType>
     <sequence>
      <element name="getSIPsCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:IngestMonitorException"/>
   <element name="getSIPs">
    <complexType>
     <sequence>
      <element name="contentAdapter" type="tns3:ContentAdapter"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns4_SortParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns4:SortParameter"/>
    </sequence>
   </complexType>
   <element name="getSIPsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSIPsReturn" type="tns6:SIPState"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns6_SIPStateTransition">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns6:SIPStateTransition"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="FilterParameter">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Filter">
    <sequence>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns1_FilterParameter"/>
    </sequence>
   </complexType>
   <complexType name="SimpleFilterParameter">
    <complexContent>
     <extension base="tns1:FilterParameter">
      <sequence>
       <element name="value" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="OneOfManyFilterParameter">
    <complexContent>
     <extension base="tns1:FilterParameter">
      <sequence>
       <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RangeFilterParameter">
    <complexContent>
     <extension base="tns1:FilterParameter">
      <sequence>
       <element name="fromValue" nillable="true" type="xsd:string"/>
       <element name="toValue" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RegexFilterParameter">
    <complexContent>
     <extension base="tns1:FilterParameter">
      <sequence>
       <element name="regex" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProducerFilterParameter">
    <complexContent>
     <extension base="tns1:FilterParameter">
      <sequence>
       <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="username" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LikeFilterParameter">
    <complexContent>
     <extension base="tns1:FilterParameter">
      <sequence>
       <element name="expression" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="RODAException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RODAServiceException">
    <complexContent>
     <extension base="tns2:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="IngestMonitorException">
    <complexContent>
     <extension base="tns2:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://sort.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="SortParameter">
    <sequence>
     <element name="descending" type="xsd:boolean"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Sorter">
    <sequence>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns4_SortParameter"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="Sublist">
    <sequence>
     <element name="firstElementIndex" type="xsd:int"/>
     <element name="maximumElementCount" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="ContentAdapter">
    <sequence>
     <element name="filter" nillable="true" type="tns1:Filter"/>
     <element name="sorter" nillable="true" type="tns4:Sorter"/>
     <element name="sublist" nillable="true" type="tns5:Sublist"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="SIPStateTransition">
    <sequence>
     <element name="datetime" nillable="true" type="xsd:dateTime"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="fromState" nillable="true" type="xsd:string"/>
     <element name="sipID" nillable="true" type="xsd:string"/>
     <element name="success" type="xsd:boolean"/>
     <element name="taskID" nillable="true" type="xsd:string"/>
     <element name="toState" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SIPState">
    <sequence>
     <element name="complete" type="xsd:boolean"/>
     <element name="completePercentage" type="xsd:float"/>
     <element name="datetime" nillable="true" type="xsd:dateTime"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="ingestedPID" nillable="true" type="xsd:string"/>
     <element name="originalFilename" nillable="true" type="xsd:string"/>
     <element name="parentPID" nillable="true" type="xsd:string"/>
     <element name="processing" type="xsd:boolean"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="stateTransitions" nillable="true" type="impl:ArrayOf_tns6_SIPStateTransition"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSIPsRequest">

      <wsdl:part element="impl:getSIPs" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSIPsCountResponse">

      <wsdl:part element="impl:getSIPsCountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPossibleStatesResponse">

      <wsdl:part element="impl:getPossibleStatesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSIPsCountRequest">

      <wsdl:part element="impl:getSIPsCount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="IngestMonitorException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getSIPsResponse">

      <wsdl:part element="impl:getSIPsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPossibleStatesRequest">

      <wsdl:part element="impl:getPossibleStates" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="IngestMonitor">

      <wsdl:operation name="getPossibleStates">

         <wsdl:input message="impl:getPossibleStatesRequest" name="getPossibleStatesRequest"/>

         <wsdl:output message="impl:getPossibleStatesResponse" name="getPossibleStatesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSIPsCount">

         <wsdl:input message="impl:getSIPsCountRequest" name="getSIPsCountRequest"/>

         <wsdl:output message="impl:getSIPsCountResponse" name="getSIPsCountResponse"/>

         <wsdl:fault message="impl:IngestMonitorException" name="IngestMonitorException"/>

      </wsdl:operation>

      <wsdl:operation name="getSIPs">

         <wsdl:input message="impl:getSIPsRequest" name="getSIPsRequest"/>

         <wsdl:output message="impl:getSIPsResponse" name="getSIPsResponse"/>

         <wsdl:fault message="impl:IngestMonitorException" name="IngestMonitorException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IngestMonitorSoapBinding" type="impl:IngestMonitor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPossibleStates">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPossibleStatesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPossibleStatesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSIPsCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSIPsCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSIPsCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="IngestMonitorException">

            <wsdlsoap:fault name="IngestMonitorException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSIPs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSIPsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSIPsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="IngestMonitorException">

            <wsdlsoap:fault name="IngestMonitorException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IngestMonitorService">

      <wsdl:port binding="impl:IngestMonitorSoapBinding" name="IngestMonitor">

         <wsdlsoap:address location="http://localhost:8080/roda-core/services/IngestMonitor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
