roda-core/roda-core-services/src/main/webapp/wsdl/Login.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.core.roda.dgarq.gov.pt" xmlns:intf="http://services.core.roda.dgarq.gov.pt" xmlns:tns1="http://data.core.roda.dgarq.gov.pt" xmlns:tns2="http://common.core.roda.dgarq.gov.pt" xmlns:tns3="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <element name="getGuestCredentials">
    <complexType/>
   </element>
   <element name="getGuestCredentialsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getGuestCredentialsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGuestUser">
    <complexType/>
   </element>
   <element name="getGuestUserResponse">
    <complexType>
     <sequence>
      <element name="getGuestUserReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault" type="tns2:LoginException"/>
   <element name="getAuthenticatedUserCAS">
    <complexType>
     <sequence>
      <element name="proxyTicket" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAuthenticatedUserCASResponse">
    <complexType>
     <sequence>
      <element name="getAuthenticatedUserCASReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="RODAMember">
    <sequence>
     <element name="active" type="xsd:boolean"/>
     <element name="allGroups" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="directRoles" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="fullName" nillable="true" type="xsd:string"/>
     <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="roles" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="User">
    <complexContent>
     <extension base="tns1:RODAMember">
      <sequence>
       <element name="birthCountry" nillable="true" type="xsd:string"/>
       <element name="businessCategory" nillable="true" type="xsd:string"/>
       <element name="countryName" nillable="true" type="xsd:string"/>
       <element name="email" nillable="true" type="xsd:string"/>
       <element name="emailConfirmationToken" nillable="true" type="xsd:string"/>
       <element name="emailConfirmationTokenExpirationDate" nillable="true" type="xsd:string"/>
       <element name="fax" nillable="true" type="xsd:string"/>
       <element name="financeIdentificationNumber" nillable="true" type="xsd:string"/>
       <element name="idDocument" nillable="true" type="xsd:string"/>
       <element name="idDocumentDate" nillable="true" type="xsd:dateTime"/>
       <element name="idDocumentLocation" nillable="true" type="xsd:string"/>
       <element name="idDocumentType" nillable="true" type="xsd:string"/>
       <element name="localityName" nillable="true" type="xsd:string"/>
       <element name="postalAddress" nillable="true" type="xsd:string"/>
       <element name="postalCode" nillable="true" type="xsd:string"/>
       <element name="resetPasswordToken" nillable="true" type="xsd:string"/>
       <element name="resetPasswordTokenExpirationDate" nillable="true" type="xsd:string"/>
       <element name="telephoneNumber" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="RODAException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RODAServiceException">
    <complexContent>
     <extension base="tns2:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LoginException">
    <complexContent>
     <extension base="tns2:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="FilterParameter">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SimpleFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="value" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="OneOfManyFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RangeFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="fromValue" nillable="true" type="xsd:string"/>
       <element name="toValue" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RegexFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="regex" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProducerFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="username" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LikeFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="expression" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ClassificationSchemeFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="classificationSchemeId" nillable="true" type="xsd:string"/>
       <element name="possibleClassesPids" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAuthenticatedUserCASRequest">

      <wsdl:part element="impl:getAuthenticatedUserCAS" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAuthenticatedUserCASResponse">

      <wsdl:part element="impl:getAuthenticatedUserCASResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGuestCredentialsResponse">

      <wsdl:part element="impl:getGuestCredentialsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGuestCredentialsRequest">

      <wsdl:part element="impl:getGuestCredentials" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGuestUserRequest">

      <wsdl:part element="impl:getGuestUser" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="LoginException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getGuestUserResponse">

      <wsdl:part element="impl:getGuestUserResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Login">

      <wsdl:operation name="getGuestCredentials">

         <wsdl:input message="impl:getGuestCredentialsRequest" name="getGuestCredentialsRequest"/>

         <wsdl:output message="impl:getGuestCredentialsResponse" name="getGuestCredentialsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getGuestUser">

         <wsdl:input message="impl:getGuestUserRequest" name="getGuestUserRequest"/>

         <wsdl:output message="impl:getGuestUserResponse" name="getGuestUserResponse"/>

         <wsdl:fault message="impl:LoginException" name="LoginException"/>

      </wsdl:operation>

      <wsdl:operation name="getAuthenticatedUserCAS">

         <wsdl:input message="impl:getAuthenticatedUserCASRequest" name="getAuthenticatedUserCASRequest"/>

         <wsdl:output message="impl:getAuthenticatedUserCASResponse" name="getAuthenticatedUserCASResponse"/>

         <wsdl:fault message="impl:LoginException" name="LoginException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginSoapBinding" type="impl:Login">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getGuestCredentials">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGuestCredentialsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGuestCredentialsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getGuestUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGuestUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGuestUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="LoginException">

            <wsdlsoap:fault name="LoginException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAuthenticatedUserCAS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAuthenticatedUserCASRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAuthenticatedUserCASResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="LoginException">

            <wsdlsoap:fault name="LoginException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginService">

      <wsdl:port binding="impl:LoginSoapBinding" name="Login">

         <wsdlsoap:address location="http://localhost:8080/roda-core/services/Login"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
