roda-core/roda-core-services/src/main/webapp/wsdl/LogMonitor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.core.roda.dgarq.gov.pt" xmlns:intf="http://services.core.roda.dgarq.gov.pt" xmlns:tns1="http://adapter.data.core.roda.dgarq.gov.pt" xmlns:tns2="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns3="http://sort.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns4="http://sublist.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns5="http://data.core.roda.dgarq.gov.pt" xmlns:tns6="http://common.core.roda.dgarq.gov.pt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <element name="getLogEntries">
    <complexType>
     <sequence>
      <element name="contentAdapter" type="tns1:ContentAdapter"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns2_FilterParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:FilterParameter"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns3_SortParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns3:SortParameter"/>
    </sequence>
   </complexType>
   <element name="getLogEntriesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getLogEntriesReturn" type="tns5:LogEntry"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns5_LogEntryParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns5:LogEntryParameter"/>
    </sequence>
   </complexType>
   <element name="fault" type="tns6:LoggerException"/>
   <element name="getLogEntriesCount">
    <complexType>
     <sequence>
      <element name="filter" type="tns2:Filter"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLogEntriesCountResponse">
    <complexType>
     <sequence>
      <element name="getLogEntriesCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="FilterParameter">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Filter">
    <sequence>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns2_FilterParameter"/>
    </sequence>
   </complexType>
   <complexType name="SimpleFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="value" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="OneOfManyFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RangeFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="fromValue" nillable="true" type="xsd:string"/>
       <element name="toValue" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RegexFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="regex" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProducerFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="username" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LikeFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="expression" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://sort.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="SortParameter">
    <sequence>
     <element name="descending" type="xsd:boolean"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Sorter">
    <sequence>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns3_SortParameter"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="Sublist">
    <sequence>
     <element name="firstElementIndex" type="xsd:int"/>
     <element name="maximumElementCount" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="ContentAdapter">
    <sequence>
     <element name="filter" nillable="true" type="tns2:Filter"/>
     <element name="sorter" nillable="true" type="tns3:Sorter"/>
     <element name="sublist" nillable="true" type="tns4:Sublist"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="LogEntryParameter">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="LogEntry">
    <sequence>
     <element name="action" nillable="true" type="xsd:string"/>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="datetime" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="duration" type="xsd:long"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns5_LogEntryParameter"/>
     <element name="relatedObjectPID" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="RODAException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="LoggerException">
    <complexContent>
     <extension base="tns6:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getLogEntriesCountResponse">

      <wsdl:part element="impl:getLogEntriesCountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="LoggerException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getLogEntriesRequest">

      <wsdl:part element="impl:getLogEntries" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getLogEntriesResponse">

      <wsdl:part element="impl:getLogEntriesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getLogEntriesCountRequest">

      <wsdl:part element="impl:getLogEntriesCount" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="LogMonitor">

      <wsdl:operation name="getLogEntries">

         <wsdl:input message="impl:getLogEntriesRequest" name="getLogEntriesRequest"/>

         <wsdl:output message="impl:getLogEntriesResponse" name="getLogEntriesResponse"/>

         <wsdl:fault message="impl:LoggerException" name="LoggerException"/>

      </wsdl:operation>

      <wsdl:operation name="getLogEntriesCount">

         <wsdl:input message="impl:getLogEntriesCountRequest" name="getLogEntriesCountRequest"/>

         <wsdl:output message="impl:getLogEntriesCountResponse" name="getLogEntriesCountResponse"/>

         <wsdl:fault message="impl:LoggerException" name="LoggerException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LogMonitorSoapBinding" type="impl:LogMonitor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getLogEntries">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLogEntriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLogEntriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="LoggerException">

            <wsdlsoap:fault name="LoggerException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getLogEntriesCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLogEntriesCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLogEntriesCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="LoggerException">

            <wsdlsoap:fault name="LoggerException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LogMonitorService">

      <wsdl:port binding="impl:LogMonitorSoapBinding" name="LogMonitor">

         <wsdlsoap:address location="http://localhost:8080/roda-core/services/LogMonitor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
