roda-core/roda-core-services/src/main/webapp/wsdl/Reports.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.core.roda.dgarq.gov.pt" xmlns:intf="http://services.core.roda.dgarq.gov.pt" xmlns:tns1="http://adapter.data.core.roda.dgarq.gov.pt" xmlns:tns2="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns3="http://sort.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns4="http://sublist.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns5="http://data.core.roda.dgarq.gov.pt" xmlns:tns6="http://common.core.roda.dgarq.gov.pt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <element name="getReports">
    <complexType>
     <sequence>
      <element name="contentAdapter" type="tns1:ContentAdapter"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns2_FilterParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:FilterParameter"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns3_SortParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns3:SortParameter"/>
    </sequence>
   </complexType>
   <element name="getReportsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getReportsReturn" type="tns5:Report"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns5_Attribute">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns5:Attribute"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns5_ReportItem">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns5:ReportItem"/>
    </sequence>
   </complexType>
   <element name="fault" type="tns6:ReportException"/>
   <element name="getReport">
    <complexType>
     <sequence>
      <element name="reportID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getReportResponse">
    <complexType>
     <sequence>
      <element name="getReportReturn" type="tns5:Report"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault1" type="tns6:NoSuchReportException"/>
   <element name="getReportsCount">
    <complexType>
     <sequence>
      <element name="filter" type="tns2:Filter"/>
     </sequence>
    </complexType>
   </element>
   <element name="getReportsCountResponse">
    <complexType>
     <sequence>
      <element name="getReportsCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="FilterParameter">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Filter">
    <sequence>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns2_FilterParameter"/>
    </sequence>
   </complexType>
   <complexType name="SimpleFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="value" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="OneOfManyFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RangeFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="fromValue" nillable="true" type="xsd:string"/>
       <element name="toValue" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RegexFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="regex" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProducerFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="username" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LikeFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="expression" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://sort.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="SortParameter">
    <sequence>
     <element name="descending" type="xsd:boolean"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Sorter">
    <sequence>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns3_SortParameter"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="Sublist">
    <sequence>
     <element name="firstElementIndex" type="xsd:int"/>
     <element name="maximumElementCount" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="ContentAdapter">
    <sequence>
     <element name="filter" nillable="true" type="tns2:Filter"/>
     <element name="sorter" nillable="true" type="tns3:Sorter"/>
     <element name="sublist" nillable="true" type="tns4:Sublist"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="Attribute">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ReportItem">
    <sequence>
     <element name="attributes" nillable="true" type="impl:ArrayOf_tns5_Attribute"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Report">
    <sequence>
     <element name="attributes" nillable="true" type="impl:ArrayOf_tns5_Attribute"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="items" nillable="true" type="impl:ArrayOf_tns5_ReportItem"/>
     <element name="title" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="RODAException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RODAServiceException">
    <complexContent>
     <extension base="tns6:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ReportException">
    <complexContent>
     <extension base="tns6:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoSuchReportException">
    <complexContent>
     <extension base="tns6:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getReportsResponse">

      <wsdl:part element="impl:getReportsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getReportResponse">

      <wsdl:part element="impl:getReportResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="NoSuchReportException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getReportsCountResponse">

      <wsdl:part element="impl:getReportsCountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="ReportException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getReportsCountRequest">

      <wsdl:part element="impl:getReportsCount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getReportsRequest">

      <wsdl:part element="impl:getReports" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getReportRequest">

      <wsdl:part element="impl:getReport" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Reports">

      <wsdl:operation name="getReports">

         <wsdl:input message="impl:getReportsRequest" name="getReportsRequest"/>

         <wsdl:output message="impl:getReportsResponse" name="getReportsResponse"/>

         <wsdl:fault message="impl:ReportException" name="ReportException"/>

      </wsdl:operation>

      <wsdl:operation name="getReport">

         <wsdl:input message="impl:getReportRequest" name="getReportRequest"/>

         <wsdl:output message="impl:getReportResponse" name="getReportResponse"/>

         <wsdl:fault message="impl:NoSuchReportException" name="NoSuchReportException"/>

         <wsdl:fault message="impl:ReportException" name="ReportException"/>

      </wsdl:operation>

      <wsdl:operation name="getReportsCount">

         <wsdl:input message="impl:getReportsCountRequest" name="getReportsCountRequest"/>

         <wsdl:output message="impl:getReportsCountResponse" name="getReportsCountResponse"/>

         <wsdl:fault message="impl:ReportException" name="ReportException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ReportsSoapBinding" type="impl:Reports">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getReports">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getReportsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getReportsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ReportException">

            <wsdlsoap:fault name="ReportException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getReport">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getReportRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getReportResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NoSuchReportException">

            <wsdlsoap:fault name="NoSuchReportException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ReportException">

            <wsdlsoap:fault name="ReportException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getReportsCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getReportsCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getReportsCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="ReportException">

            <wsdlsoap:fault name="ReportException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ReportsService">

      <wsdl:port binding="impl:ReportsSoapBinding" name="Reports">

         <wsdlsoap:address location="http://localhost:8080/roda-core/services/Reports"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
