roda-core/roda-core-services/src/main/webapp/wsdl/Scheduler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.core.roda.dgarq.gov.pt" xmlns:intf="http://services.core.roda.dgarq.gov.pt" xmlns:tns1="http://data.core.roda.dgarq.gov.pt" xmlns:tns2="http://common.core.roda.dgarq.gov.pt" xmlns:tns3="http://adapter.data.core.roda.dgarq.gov.pt" xmlns:tns4="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns5="http://sort.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns6="http://sublist.adapter.data.core.roda.dgarq.gov.pt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <element name="getTask">
    <complexType>
     <sequence>
      <element name="taskName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTaskResponse">
    <complexType>
     <sequence>
      <element name="getTaskReturn" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_PluginParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:PluginParameter"/>
    </sequence>
   </complexType>
   <element name="fault" type="tns2:NoSuchTaskException"/>
   <element name="fault1" type="tns2:SchedulerException"/>
   <element name="addTask">
    <complexType>
     <sequence>
      <element name="task" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="addTaskResponse">
    <complexType>
     <sequence>
      <element name="addTaskReturn" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTasks">
    <complexType>
     <sequence>
      <element name="contentAdapter" type="tns3:ContentAdapter"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns4_FilterParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns4:FilterParameter"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns5_SortParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns5:SortParameter"/>
    </sequence>
   </complexType>
   <element name="getTasksResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTasksReturn" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTaskCount">
    <complexType>
     <sequence>
      <element name="filter" type="tns4:Filter"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTaskCountResponse">
    <complexType>
     <sequence>
      <element name="getTaskCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyTask">
    <complexType>
     <sequence>
      <element name="task" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyTaskResponse">
    <complexType>
     <sequence>
      <element name="modifyTaskReturn" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTask">
    <complexType>
     <sequence>
      <element name="taskName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTaskResponse">
    <complexType/>
   </element>
   <element name="pauseTask">
    <complexType>
     <sequence>
      <element name="taskName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="pauseTaskResponse">
    <complexType>
     <sequence>
      <element name="pauseTaskReturn" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="resumeTask">
    <complexType>
     <sequence>
      <element name="taskName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="resumeTaskResponse">
    <complexType>
     <sequence>
      <element name="resumeTaskReturn" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTaskInstance">
    <complexType>
     <sequence>
      <element name="taskInstanceID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTaskInstanceResponse">
    <complexType>
     <sequence>
      <element name="getTaskInstanceReturn" type="tns1:TaskInstance"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault2" type="tns2:NoSuchTaskInstanceException"/>
   <element name="getTaskInstances">
    <complexType>
     <sequence>
      <element name="contentAdapter" type="tns3:ContentAdapter"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTaskInstancesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTaskInstancesReturn" type="tns1:TaskInstance"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTaskInstanceCount">
    <complexType>
     <sequence>
      <element name="filter" type="tns4:Filter"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTaskInstanceCountResponse">
    <complexType>
     <sequence>
      <element name="getTaskInstanceCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="PluginParameter">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="mandatory" type="xsd:boolean"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="possibleValues" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="readonly" type="xsd:boolean"/>
     <element name="type" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="PluginInfo">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns1_PluginParameter"/>
     <element name="version" type="xsd:float"/>
    </sequence>
   </complexType>
   <complexType name="Task">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="paused" type="xsd:boolean"/>
     <element name="pluginInfo" nillable="true" type="tns1:PluginInfo"/>
     <element name="repeatCount" type="xsd:int"/>
     <element name="repeatInterval" type="xsd:long"/>
     <element name="running" type="xsd:boolean"/>
     <element name="scheduled" type="xsd:boolean"/>
     <element name="startDate" nillable="true" type="xsd:dateTime"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="TaskInstance">
    <sequence>
     <element name="completePercentage" type="xsd:float"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="finishDate" nillable="true" type="xsd:dateTime"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="pluginInfo" nillable="true" type="tns1:PluginInfo"/>
     <element name="reportID" nillable="true" type="xsd:string"/>
     <element name="startDate" nillable="true" type="xsd:dateTime"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="RODAException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="NoSuchTaskException">
    <complexContent>
     <extension base="tns2:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RODAServiceException">
    <complexContent>
     <extension base="tns2:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="SchedulerException">
    <complexContent>
     <extension base="tns2:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoSuchTaskInstanceException">
    <complexContent>
     <extension base="tns2:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="FilterParameter">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Filter">
    <sequence>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns4_FilterParameter"/>
    </sequence>
   </complexType>
   <complexType name="SimpleFilterParameter">
    <complexContent>
     <extension base="tns4:FilterParameter">
      <sequence>
       <element name="value" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="OneOfManyFilterParameter">
    <complexContent>
     <extension base="tns4:FilterParameter">
      <sequence>
       <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RangeFilterParameter">
    <complexContent>
     <extension base="tns4:FilterParameter">
      <sequence>
       <element name="fromValue" nillable="true" type="xsd:string"/>
       <element name="toValue" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RegexFilterParameter">
    <complexContent>
     <extension base="tns4:FilterParameter">
      <sequence>
       <element name="regex" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProducerFilterParameter">
    <complexContent>
     <extension base="tns4:FilterParameter">
      <sequence>
       <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="username" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LikeFilterParameter">
    <complexContent>
     <extension base="tns4:FilterParameter">
      <sequence>
       <element name="expression" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://sort.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="SortParameter">
    <sequence>
     <element name="descending" type="xsd:boolean"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Sorter">
    <sequence>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns5_SortParameter"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="Sublist">
    <sequence>
     <element name="firstElementIndex" type="xsd:int"/>
     <element name="maximumElementCount" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="ContentAdapter">
    <sequence>
     <element name="filter" nillable="true" type="tns4:Filter"/>
     <element name="sorter" nillable="true" type="tns5:Sorter"/>
     <element name="sublist" nillable="true" type="tns6:Sublist"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="removeTaskResponse">

      <wsdl:part element="impl:removeTaskResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addTaskResponse">

      <wsdl:part element="impl:addTaskResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="modifyTaskResponse">

      <wsdl:part element="impl:modifyTaskResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTaskCountResponse">

      <wsdl:part element="impl:getTaskCountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="pauseTaskRequest">

      <wsdl:part element="impl:pauseTask" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTaskInstancesResponse">

      <wsdl:part element="impl:getTaskInstancesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="NoSuchTaskInstanceException">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="pauseTaskResponse">

      <wsdl:part element="impl:pauseTaskResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="SchedulerException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getTaskRequest">

      <wsdl:part element="impl:getTask" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="resumeTaskRequest">

      <wsdl:part element="impl:resumeTask" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTaskInstanceRequest">

      <wsdl:part element="impl:getTaskInstance" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addTaskRequest">

      <wsdl:part element="impl:addTask" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="modifyTaskRequest">

      <wsdl:part element="impl:modifyTask" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTaskResponse">

      <wsdl:part element="impl:getTaskResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTaskInstanceResponse">

      <wsdl:part element="impl:getTaskInstanceResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTaskInstanceCountResponse">

      <wsdl:part element="impl:getTaskInstanceCountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTasksRequest">

      <wsdl:part element="impl:getTasks" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTasksResponse">

      <wsdl:part element="impl:getTasksResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="removeTaskRequest">

      <wsdl:part element="impl:removeTask" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="NoSuchTaskException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getTaskInstanceCountRequest">

      <wsdl:part element="impl:getTaskInstanceCount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="resumeTaskResponse">

      <wsdl:part element="impl:resumeTaskResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTaskInstancesRequest">

      <wsdl:part element="impl:getTaskInstances" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTaskCountRequest">

      <wsdl:part element="impl:getTaskCount" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Scheduler">

      <wsdl:operation name="getTask">

         <wsdl:input message="impl:getTaskRequest" name="getTaskRequest"/>

         <wsdl:output message="impl:getTaskResponse" name="getTaskResponse"/>

         <wsdl:fault message="impl:SchedulerException" name="SchedulerException"/>

         <wsdl:fault message="impl:NoSuchTaskException" name="NoSuchTaskException"/>

      </wsdl:operation>

      <wsdl:operation name="addTask">

         <wsdl:input message="impl:addTaskRequest" name="addTaskRequest"/>

         <wsdl:output message="impl:addTaskResponse" name="addTaskResponse"/>

         <wsdl:fault message="impl:SchedulerException" name="SchedulerException"/>

      </wsdl:operation>

      <wsdl:operation name="getTasks">

         <wsdl:input message="impl:getTasksRequest" name="getTasksRequest"/>

         <wsdl:output message="impl:getTasksResponse" name="getTasksResponse"/>

         <wsdl:fault message="impl:SchedulerException" name="SchedulerException"/>

      </wsdl:operation>

      <wsdl:operation name="getTaskCount">

         <wsdl:input message="impl:getTaskCountRequest" name="getTaskCountRequest"/>

         <wsdl:output message="impl:getTaskCountResponse" name="getTaskCountResponse"/>

         <wsdl:fault message="impl:SchedulerException" name="SchedulerException"/>

      </wsdl:operation>

      <wsdl:operation name="modifyTask">

         <wsdl:input message="impl:modifyTaskRequest" name="modifyTaskRequest"/>

         <wsdl:output message="impl:modifyTaskResponse" name="modifyTaskResponse"/>

         <wsdl:fault message="impl:SchedulerException" name="SchedulerException"/>

         <wsdl:fault message="impl:NoSuchTaskException" name="NoSuchTaskException"/>

      </wsdl:operation>

      <wsdl:operation name="removeTask">

         <wsdl:input message="impl:removeTaskRequest" name="removeTaskRequest"/>

         <wsdl:output message="impl:removeTaskResponse" name="removeTaskResponse"/>

         <wsdl:fault message="impl:SchedulerException" name="SchedulerException"/>

         <wsdl:fault message="impl:NoSuchTaskException" name="NoSuchTaskException"/>

      </wsdl:operation>

      <wsdl:operation name="pauseTask">

         <wsdl:input message="impl:pauseTaskRequest" name="pauseTaskRequest"/>

         <wsdl:output message="impl:pauseTaskResponse" name="pauseTaskResponse"/>

         <wsdl:fault message="impl:SchedulerException" name="SchedulerException"/>

         <wsdl:fault message="impl:NoSuchTaskException" name="NoSuchTaskException"/>

      </wsdl:operation>

      <wsdl:operation name="resumeTask">

         <wsdl:input message="impl:resumeTaskRequest" name="resumeTaskRequest"/>

         <wsdl:output message="impl:resumeTaskResponse" name="resumeTaskResponse"/>

         <wsdl:fault message="impl:SchedulerException" name="SchedulerException"/>

         <wsdl:fault message="impl:NoSuchTaskException" name="NoSuchTaskException"/>

      </wsdl:operation>

      <wsdl:operation name="getTaskInstance">

         <wsdl:input message="impl:getTaskInstanceRequest" name="getTaskInstanceRequest"/>

         <wsdl:output message="impl:getTaskInstanceResponse" name="getTaskInstanceResponse"/>

         <wsdl:fault message="impl:SchedulerException" name="SchedulerException"/>

         <wsdl:fault message="impl:NoSuchTaskInstanceException" name="NoSuchTaskInstanceException"/>

      </wsdl:operation>

      <wsdl:operation name="getTaskInstances">

         <wsdl:input message="impl:getTaskInstancesRequest" name="getTaskInstancesRequest"/>

         <wsdl:output message="impl:getTaskInstancesResponse" name="getTaskInstancesResponse"/>

         <wsdl:fault message="impl:SchedulerException" name="SchedulerException"/>

      </wsdl:operation>

      <wsdl:operation name="getTaskInstanceCount">

         <wsdl:input message="impl:getTaskInstanceCountRequest" name="getTaskInstanceCountRequest"/>

         <wsdl:output message="impl:getTaskInstanceCountResponse" name="getTaskInstanceCountResponse"/>

         <wsdl:fault message="impl:SchedulerException" name="SchedulerException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SchedulerSoapBinding" type="impl:Scheduler">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SchedulerException">

            <wsdlsoap:fault name="SchedulerException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NoSuchTaskException">

            <wsdlsoap:fault name="NoSuchTaskException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SchedulerException">

            <wsdlsoap:fault name="SchedulerException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getTasks">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTasksRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTasksResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SchedulerException">

            <wsdlsoap:fault name="SchedulerException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getTaskCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTaskCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTaskCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SchedulerException">

            <wsdlsoap:fault name="SchedulerException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SchedulerException">

            <wsdlsoap:fault name="SchedulerException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NoSuchTaskException">

            <wsdlsoap:fault name="NoSuchTaskException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SchedulerException">

            <wsdlsoap:fault name="SchedulerException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NoSuchTaskException">

            <wsdlsoap:fault name="NoSuchTaskException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="pauseTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="pauseTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="pauseTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SchedulerException">

            <wsdlsoap:fault name="SchedulerException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NoSuchTaskException">

            <wsdlsoap:fault name="NoSuchTaskException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="resumeTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resumeTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="resumeTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SchedulerException">

            <wsdlsoap:fault name="SchedulerException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NoSuchTaskException">

            <wsdlsoap:fault name="NoSuchTaskException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getTaskInstance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTaskInstanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTaskInstanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SchedulerException">

            <wsdlsoap:fault name="SchedulerException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NoSuchTaskInstanceException">

            <wsdlsoap:fault name="NoSuchTaskInstanceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getTaskInstances">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTaskInstancesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTaskInstancesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SchedulerException">

            <wsdlsoap:fault name="SchedulerException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getTaskInstanceCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTaskInstanceCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTaskInstanceCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="SchedulerException">

            <wsdlsoap:fault name="SchedulerException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SchedulerService">

      <wsdl:port binding="impl:SchedulerSoapBinding" name="Scheduler">

         <wsdlsoap:address location="http://localhost:8080/roda-core/services/Scheduler"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
