roda-core/roda-core-services/src/main/webapp/wsdl/Statistics.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.core.roda.dgarq.gov.pt" xmlns:intf="http://services.core.roda.dgarq.gov.pt" xmlns:tns1="http://data.core.roda.dgarq.gov.pt" xmlns:tns2="http://common.core.roda.dgarq.gov.pt" xmlns:tns3="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <element name="insertStatisticData">
    <complexType>
     <sequence>
      <element name="statisticData" type="tns1:StatisticData"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertStatisticDataResponse">
    <complexType/>
   </element>
   <element name="fault" type="tns2:StatisticsException"/>
   <element name="insertStatisticDataList">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="statisticData" type="tns1:StatisticData"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertStatisticDataListResponse">
    <complexType/>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="StatisticData">
    <sequence>
     <element name="timestamp" nillable="true" type="xsd:dateTime"/>
     <element name="type" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="RODAException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="StatisticsException">
    <complexContent>
     <extension base="tns2:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="FilterParameter">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SimpleFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="value" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="OneOfManyFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RangeFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="fromValue" nillable="true" type="xsd:string"/>
       <element name="toValue" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RegexFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="regex" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProducerFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="username" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LikeFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="expression" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ClassificationSchemeFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="classificationSchemeId" nillable="true" type="xsd:string"/>
       <element name="possibleClassesPids" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertStatisticDataListResponse">

      <wsdl:part element="impl:insertStatisticDataListResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="StatisticsException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="insertStatisticDataListRequest">

      <wsdl:part element="impl:insertStatisticDataList" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="insertStatisticDataResponse">

      <wsdl:part element="impl:insertStatisticDataResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="insertStatisticDataRequest">

      <wsdl:part element="impl:insertStatisticData" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Statistics">

      <wsdl:operation name="insertStatisticData">

         <wsdl:input message="impl:insertStatisticDataRequest" name="insertStatisticDataRequest"/>

         <wsdl:output message="impl:insertStatisticDataResponse" name="insertStatisticDataResponse"/>

         <wsdl:fault message="impl:StatisticsException" name="StatisticsException"/>

      </wsdl:operation>

      <wsdl:operation name="insertStatisticDataList">

         <wsdl:input message="impl:insertStatisticDataListRequest" name="insertStatisticDataListRequest"/>

         <wsdl:output message="impl:insertStatisticDataListResponse" name="insertStatisticDataListResponse"/>

         <wsdl:fault message="impl:StatisticsException" name="StatisticsException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StatisticsSoapBinding" type="impl:Statistics">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertStatisticData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertStatisticDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertStatisticDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="StatisticsException">

            <wsdlsoap:fault name="StatisticsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="insertStatisticDataList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertStatisticDataListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertStatisticDataListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="StatisticsException">

            <wsdlsoap:fault name="StatisticsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StatisticsService">

      <wsdl:port binding="impl:StatisticsSoapBinding" name="Statistics">

         <wsdlsoap:address location="http://localhost:8080/roda-core/services/Statistics"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
