roda-core/roda-core-services/src/main/webapp/wsdl/UserBrowser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.core.roda.dgarq.gov.pt" xmlns:intf="http://services.core.roda.dgarq.gov.pt" xmlns:tns1="http://adapter.data.core.roda.dgarq.gov.pt" xmlns:tns2="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns3="http://sort.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns4="http://sublist.adapter.data.core.roda.dgarq.gov.pt" xmlns:tns5="http://data.core.roda.dgarq.gov.pt" xmlns:tns6="http://common.core.roda.dgarq.gov.pt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <element name="getGroups">
    <complexType>
     <sequence>
      <element name="contentAdapter" type="tns1:ContentAdapter"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns2_FilterParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:FilterParameter"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns3_SortParameter">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns3:SortParameter"/>
    </sequence>
   </complexType>
   <element name="getGroupsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getGroupsReturn" type="tns5:Group"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault" type="tns6:UserManagementException"/>
   <element name="getRoles">
    <complexType/>
   </element>
   <element name="getRolesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getRolesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupCount">
    <complexType>
     <sequence>
      <element name="filter" type="tns2:Filter"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupCountResponse">
    <complexType>
     <sequence>
      <element name="getGroupCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroup">
    <complexType>
     <sequence>
      <element name="groupName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupResponse">
    <complexType>
     <sequence>
      <element name="getGroupReturn" type="tns5:Group"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsersInGroup">
    <complexType>
     <sequence>
      <element name="groupName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsersInGroupResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUsersInGroupReturn" type="tns5:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserCount">
    <complexType>
     <sequence>
      <element name="filter" type="tns2:Filter"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserCountResponse">
    <complexType>
     <sequence>
      <element name="getUserCountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUser">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserResponse">
    <complexType>
     <sequence>
      <element name="getUserReturn" type="tns5:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsers">
    <complexType>
     <sequence>
      <element name="contentAdapter" type="tns1:ContentAdapter"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUsersReturn" type="tns5:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserNames">
    <complexType>
     <sequence>
      <element name="contentAdapter" type="tns1:ContentAdapter"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserNamesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUserNamesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupDirectRoles">
    <complexType>
     <sequence>
      <element name="groupName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupDirectRolesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getGroupDirectRolesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserDirectRoles">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserDirectRolesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUserDirectRolesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="FilterParameter">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Filter">
    <sequence>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns2_FilterParameter"/>
    </sequence>
   </complexType>
   <complexType name="SimpleFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="value" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="OneOfManyFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RangeFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="fromValue" nillable="true" type="xsd:string"/>
       <element name="toValue" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RegexFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="regex" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProducerFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="username" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LikeFilterParameter">
    <complexContent>
     <extension base="tns2:FilterParameter">
      <sequence>
       <element name="expression" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://sort.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="SortParameter">
    <sequence>
     <element name="descending" type="xsd:boolean"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Sorter">
    <sequence>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns3_SortParameter"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="Sublist">
    <sequence>
     <element name="firstElementIndex" type="xsd:int"/>
     <element name="maximumElementCount" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="ContentAdapter">
    <sequence>
     <element name="filter" nillable="true" type="tns2:Filter"/>
     <element name="sorter" nillable="true" type="tns3:Sorter"/>
     <element name="sublist" nillable="true" type="tns4:Sublist"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="RODAMember">
    <sequence>
     <element name="active" type="xsd:boolean"/>
     <element name="allGroups" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="directRoles" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="fullName" nillable="true" type="xsd:string"/>
     <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="roles" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="Group">
    <complexContent>
     <extension base="tns5:RODAMember">
      <sequence>
       <element name="memberGroupNames" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="memberUserNames" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="User">
    <complexContent>
     <extension base="tns5:RODAMember">
      <sequence>
       <element name="birthCountry" nillable="true" type="xsd:string"/>
       <element name="businessCategory" nillable="true" type="xsd:string"/>
       <element name="countryName" nillable="true" type="xsd:string"/>
       <element name="email" nillable="true" type="xsd:string"/>
       <element name="emailConfirmationToken" nillable="true" type="xsd:string"/>
       <element name="emailConfirmationTokenExpirationDate" nillable="true" type="xsd:string"/>
       <element name="fax" nillable="true" type="xsd:string"/>
       <element name="financeIdentificationNumber" nillable="true" type="xsd:string"/>
       <element name="idDocument" nillable="true" type="xsd:string"/>
       <element name="idDocumentDate" nillable="true" type="xsd:dateTime"/>
       <element name="idDocumentLocation" nillable="true" type="xsd:string"/>
       <element name="idDocumentType" nillable="true" type="xsd:string"/>
       <element name="localityName" nillable="true" type="xsd:string"/>
       <element name="postalAddress" nillable="true" type="xsd:string"/>
       <element name="postalCode" nillable="true" type="xsd:string"/>
       <element name="resetPasswordToken" nillable="true" type="xsd:string"/>
       <element name="resetPasswordTokenExpirationDate" nillable="true" type="xsd:string"/>
       <element name="telephoneNumber" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sort.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://sublist.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="RODAException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RODAServiceException">
    <complexContent>
     <extension base="tns6:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserManagementException">
    <complexContent>
     <extension base="tns6:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserRequest">

      <wsdl:part element="impl:getUser" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUsersResponse">

      <wsdl:part element="impl:getUsersResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUserDirectRolesResponse">

      <wsdl:part element="impl:getUserDirectRolesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUserNamesResponse">

      <wsdl:part element="impl:getUserNamesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUsersRequest">

      <wsdl:part element="impl:getUsers" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupCountRequest">

      <wsdl:part element="impl:getGroupCount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupsResponse">

      <wsdl:part element="impl:getGroupsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRolesRequest">

      <wsdl:part element="impl:getRoles" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupsRequest">

      <wsdl:part element="impl:getGroups" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUserCountResponse">

      <wsdl:part element="impl:getUserCountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupDirectRolesRequest">

      <wsdl:part element="impl:getGroupDirectRoles" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupResponse">

      <wsdl:part element="impl:getGroupResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUserNamesRequest">

      <wsdl:part element="impl:getUserNames" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupCountResponse">

      <wsdl:part element="impl:getGroupCountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUsersInGroupResponse">

      <wsdl:part element="impl:getUsersInGroupResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRolesResponse">

      <wsdl:part element="impl:getRolesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupDirectRolesResponse">

      <wsdl:part element="impl:getGroupDirectRolesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUsersInGroupRequest">

      <wsdl:part element="impl:getUsersInGroup" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUserResponse">

      <wsdl:part element="impl:getUserResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUserCountRequest">

      <wsdl:part element="impl:getUserCount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupRequest">

      <wsdl:part element="impl:getGroup" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUserDirectRolesRequest">

      <wsdl:part element="impl:getUserDirectRoles" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="UserManagementException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:portType name="UserBrowser">

      <wsdl:operation name="getGroups">

         <wsdl:input message="impl:getGroupsRequest" name="getGroupsRequest"/>

         <wsdl:output message="impl:getGroupsResponse" name="getGroupsResponse"/>

         <wsdl:fault message="impl:UserManagementException" name="UserManagementException"/>

      </wsdl:operation>

      <wsdl:operation name="getRoles">

         <wsdl:input message="impl:getRolesRequest" name="getRolesRequest"/>

         <wsdl:output message="impl:getRolesResponse" name="getRolesResponse"/>

         <wsdl:fault message="impl:UserManagementException" name="UserManagementException"/>

      </wsdl:operation>

      <wsdl:operation name="getGroupCount">

         <wsdl:input message="impl:getGroupCountRequest" name="getGroupCountRequest"/>

         <wsdl:output message="impl:getGroupCountResponse" name="getGroupCountResponse"/>

         <wsdl:fault message="impl:UserManagementException" name="UserManagementException"/>

      </wsdl:operation>

      <wsdl:operation name="getGroup">

         <wsdl:input message="impl:getGroupRequest" name="getGroupRequest"/>

         <wsdl:output message="impl:getGroupResponse" name="getGroupResponse"/>

         <wsdl:fault message="impl:UserManagementException" name="UserManagementException"/>

      </wsdl:operation>

      <wsdl:operation name="getUsersInGroup">

         <wsdl:input message="impl:getUsersInGroupRequest" name="getUsersInGroupRequest"/>

         <wsdl:output message="impl:getUsersInGroupResponse" name="getUsersInGroupResponse"/>

         <wsdl:fault message="impl:UserManagementException" name="UserManagementException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserCount">

         <wsdl:input message="impl:getUserCountRequest" name="getUserCountRequest"/>

         <wsdl:output message="impl:getUserCountResponse" name="getUserCountResponse"/>

         <wsdl:fault message="impl:UserManagementException" name="UserManagementException"/>

      </wsdl:operation>

      <wsdl:operation name="getUser">

         <wsdl:input message="impl:getUserRequest" name="getUserRequest"/>

         <wsdl:output message="impl:getUserResponse" name="getUserResponse"/>

         <wsdl:fault message="impl:UserManagementException" name="UserManagementException"/>

      </wsdl:operation>

      <wsdl:operation name="getUsers">

         <wsdl:input message="impl:getUsersRequest" name="getUsersRequest"/>

         <wsdl:output message="impl:getUsersResponse" name="getUsersResponse"/>

         <wsdl:fault message="impl:UserManagementException" name="UserManagementException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserNames">

         <wsdl:input message="impl:getUserNamesRequest" name="getUserNamesRequest"/>

         <wsdl:output message="impl:getUserNamesResponse" name="getUserNamesResponse"/>

         <wsdl:fault message="impl:UserManagementException" name="UserManagementException"/>

      </wsdl:operation>

      <wsdl:operation name="getGroupDirectRoles">

         <wsdl:input message="impl:getGroupDirectRolesRequest" name="getGroupDirectRolesRequest"/>

         <wsdl:output message="impl:getGroupDirectRolesResponse" name="getGroupDirectRolesResponse"/>

         <wsdl:fault message="impl:UserManagementException" name="UserManagementException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserDirectRoles">

         <wsdl:input message="impl:getUserDirectRolesRequest" name="getUserDirectRolesRequest"/>

         <wsdl:output message="impl:getUserDirectRolesResponse" name="getUserDirectRolesResponse"/>

         <wsdl:fault message="impl:UserManagementException" name="UserManagementException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserBrowserSoapBinding" type="impl:UserBrowser">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getGroups">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGroupsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGroupsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserManagementException">

            <wsdlsoap:fault name="UserManagementException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getRoles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRolesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRolesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserManagementException">

            <wsdlsoap:fault name="UserManagementException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getGroupCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGroupCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGroupCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserManagementException">

            <wsdlsoap:fault name="UserManagementException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGroupRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGroupResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserManagementException">

            <wsdlsoap:fault name="UserManagementException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUsersInGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersInGroupRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsersInGroupResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserManagementException">

            <wsdlsoap:fault name="UserManagementException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserCount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserCountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserCountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserManagementException">

            <wsdlsoap:fault name="UserManagementException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserManagementException">

            <wsdlsoap:fault name="UserManagementException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserManagementException">

            <wsdlsoap:fault name="UserManagementException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserNamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserNamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserManagementException">

            <wsdlsoap:fault name="UserManagementException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getGroupDirectRoles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGroupDirectRolesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGroupDirectRolesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserManagementException">

            <wsdlsoap:fault name="UserManagementException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserDirectRoles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserDirectRolesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserDirectRolesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserManagementException">

            <wsdlsoap:fault name="UserManagementException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserBrowserService">

      <wsdl:port binding="impl:UserBrowserSoapBinding" name="UserBrowser">

         <wsdlsoap:address location="http://localhost:8080/roda-core/services/UserBrowser"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
