roda-core/roda-core-services/src/main/webapp/wsdl/UserEditor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.core.roda.dgarq.gov.pt" xmlns:intf="http://services.core.roda.dgarq.gov.pt" xmlns:tns1="http://data.core.roda.dgarq.gov.pt" xmlns:tns2="http://common.core.roda.dgarq.gov.pt" xmlns:tns3="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <element name="modifyUser">
    <complexType>
     <sequence>
      <element name="modifiedUser" type="tns1:User"/>
      <element name="newPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="modifyUserResponse">
    <complexType>
     <sequence>
      <element name="modifyUserReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:NoSuchUserException"/>
   <element name="fault1" type="tns2:EmailAlreadyExistsException"/>
   <element name="fault2" type="tns2:IllegalOperationException"/>
   <element name="fault3" type="tns2:UserEditorException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType name="RODAMember">
    <sequence>
     <element name="active" type="xsd:boolean"/>
     <element name="allGroups" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="directRoles" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="fullName" nillable="true" type="xsd:string"/>
     <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="roles" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="User">
    <complexContent>
     <extension base="tns1:RODAMember">
      <sequence>
       <element name="birthCountry" nillable="true" type="xsd:string"/>
       <element name="businessCategory" nillable="true" type="xsd:string"/>
       <element name="countryName" nillable="true" type="xsd:string"/>
       <element name="email" nillable="true" type="xsd:string"/>
       <element name="emailConfirmationToken" nillable="true" type="xsd:string"/>
       <element name="emailConfirmationTokenExpirationDate" nillable="true" type="xsd:string"/>
       <element name="fax" nillable="true" type="xsd:string"/>
       <element name="financeIdentificationNumber" nillable="true" type="xsd:string"/>
       <element name="idDocument" nillable="true" type="xsd:string"/>
       <element name="idDocumentDate" nillable="true" type="xsd:dateTime"/>
       <element name="idDocumentLocation" nillable="true" type="xsd:string"/>
       <element name="idDocumentType" nillable="true" type="xsd:string"/>
       <element name="localityName" nillable="true" type="xsd:string"/>
       <element name="postalAddress" nillable="true" type="xsd:string"/>
       <element name="postalCode" nillable="true" type="xsd:string"/>
       <element name="resetPasswordToken" nillable="true" type="xsd:string"/>
       <element name="resetPasswordTokenExpirationDate" nillable="true" type="xsd:string"/>
       <element name="telephoneNumber" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://filter.adapter.data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="RODAException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RODAServiceException">
    <complexContent>
     <extension base="tns2:RODAException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoSuchUserException">
    <complexContent>
     <extension base="tns2:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserRegistrationException">
    <complexContent>
     <extension base="tns2:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="EmailAlreadyExistsException">
    <complexContent>
     <extension base="tns2:UserRegistrationException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="IllegalOperationException">
    <complexContent>
     <extension base="tns2:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserEditorException">
    <complexContent>
     <extension base="tns2:RODAServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://filter.adapter.data.core.roda.dgarq.gov.pt" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.core.roda.dgarq.gov.pt"/>
   <import namespace="http://common.core.roda.dgarq.gov.pt"/>
   <import namespace="http://services.core.roda.dgarq.gov.pt"/>
   <complexType abstract="true" name="FilterParameter">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SimpleFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="value" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="OneOfManyFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RangeFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="fromValue" nillable="true" type="xsd:string"/>
       <element name="toValue" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="RegexFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="regex" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProducerFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="groups" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="username" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LikeFilterParameter">
    <complexContent>
     <extension base="tns3:FilterParameter">
      <sequence>
       <element name="expression" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="UserEditorException">

      <wsdl:part element="impl:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:message name="modifyUserResponse">

      <wsdl:part element="impl:modifyUserResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="NoSuchUserException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="IllegalOperationException">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="modifyUserRequest">

      <wsdl:part element="impl:modifyUser" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="EmailAlreadyExistsException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:portType name="UserEditor">

      <wsdl:operation name="modifyUser">

         <wsdl:input message="impl:modifyUserRequest" name="modifyUserRequest"/>

         <wsdl:output message="impl:modifyUserResponse" name="modifyUserResponse"/>

         <wsdl:fault message="impl:UserEditorException" name="UserEditorException"/>

         <wsdl:fault message="impl:NoSuchUserException" name="NoSuchUserException"/>

         <wsdl:fault message="impl:IllegalOperationException" name="IllegalOperationException"/>

         <wsdl:fault message="impl:EmailAlreadyExistsException" name="EmailAlreadyExistsException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserEditorSoapBinding" type="impl:UserEditor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="modifyUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UserEditorException">

            <wsdlsoap:fault name="UserEditorException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NoSuchUserException">

            <wsdlsoap:fault name="NoSuchUserException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="IllegalOperationException">

            <wsdlsoap:fault name="IllegalOperationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="EmailAlreadyExistsException">

            <wsdlsoap:fault name="EmailAlreadyExistsException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserEditorService">

      <wsdl:port binding="impl:UserEditorSoapBinding" name="UserEditor">

         <wsdlsoap:address location="http://localhost:8080/roda-core/services/UserEditor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
