roda-core/roda-core/src/main/resources/config/schemas/key-value.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" type="fieldType" name="field"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType mixed="true" name="fieldType">
    <xs:attribute name="name" use="required" type="xs:NCName"/>
  </xs:complexType>

</xs:schema>
